.labCodeFoto{
    display: block;
    max-width: 100%;
    margin: auto;
}

.content > .content-title{
    margin-top: 50px;
}


.clickable-img {
    cursor: pointer;
  }
  .modal-content {
    background: none;
    border: none;
  }
  .modal-dialog {
    max-width: 90vw; /* Limita a largura máxima do modal */
  }


  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Garante que o modal ocupe a altura total da tela */
  }
  .modal-content {
    background: none; /* Remove fundo padrão, se desejado */
    border: none; /* Remove bordas padrão, se desejado */
    max-width: 90vw; /* Limita a largura máxima do modal */
    max-height: 90vh; /* Limita a altura máxima do modal */
  }
  #fullscreenImage {
    object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
    max-height: 90vh; /* Limita a altura da imagem */
  }
