.labCodeFoto{
    display: block;
    max-width: 100%;
    margin: auto;
}

.content > .content-title{
    margin-top: 50px;
}


.clickable-img {
    cursor: pointer;
  }
  .modal-content {
    background: none;
    border: none;
  }
  .modal-dialog {
    max-width: 90vw; /* Limita a largura máxima do modal */
  }

